body {
    margin: 0;
    max-width: 1500px;
    min-width: 1500px;
}

/* Header/top section css*/
.header {
    background-color: #1f2937;
    font-family: "roboto", sans-serif;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-left: 150px;
    margin-right: 150px;
}

.header_links {
    display: flex;
    gap: 32px;
}

.header2 {
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.header2-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header2-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header2-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header2-left {
    max-width: 450px;
    min-width: 450px;
}

.header2-right {
    font-size: 18px;
    color: #E5E7EB;
    padding: 125px;
    background-color: gray;
}

.sign {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 110, 255);
    color: white;
}

/* Second section */
.second {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-bottom: 100px;
}

.box {
    width: 140px;
    height: 140px;
    border: 3px solid rgb(0, 98, 255);
    border-radius: 6px;
}

.second-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.subtext {
    max-width: 150px;
    text-align: center;
    font-family: "roboto", sans-serif;
}

/* Third section */
.third {
    background-color: #E5E7EB;
    font-family: "roboto", sans-serif;
    padding: 150px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-weight: bold;
    text-align: right;
}

/* Fourth section */
.fourth {
    background-color: #3882F6;
    margin: 75px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 50px;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
}

.fourth-left {
    font-family: "roboto", sans-serif;
}

.fourth-title {
    font-weight: bolder;
    color: white;
}

.fourth-text {
    font-size: 18px;
    color: #E5E7EB;
}

.up {
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(0, 110, 255);
    -webkit-appearance-button: button;
    color: white;
    border: 1px solid white;
 
}

/* Footer */
.footer {
    background-color: #1F2937;
    font-family: "roboto", sans-serif;
    color: white;
    padding: 40px;
    text-align: center;
}