body {
    margin: 0;
}

.header {
    background-color: #1f2937;
    font-family: "roboto", sans-serif;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.header1, .header2 {
    margin-left: 150px;
    margin-right: 150px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.header_links {
    display: flex;
    gap: 32px;
}

.header2-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header2-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header2-right {
    font-size: 18px;
    color: #E5E7EB;
}



