.header {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.header2-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header2-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header2-right {
    font-size: 18px;
    color: #E5E7EB;
}
